@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; TIPOGRAFÍA: RALEWAY */
@import url('https://fonts.googleapis.com/css?family=Oswald:400&display=swap');
/*font-family: 'Oswald', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Oswald:200&display=swap');
/* font-family: 'Oswald', sans-serif; */

*{
    padding: 0; /* espacio entre el contenido y el contenedor*/
    margin: 0; /* establece el margen para los cuatro lados*/
}


body{
    background-image: url('../img/fondoViano.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed; /*scroll de la imagen*/
}

.menuNav{
    width: 100%;
    background-color: navy;
    display: flex; /*sirve para que el contenido se pueda acomodar o estirar y por defecto en row (en fila) */
    justify-content: space-evenly; /*deja un espacio entre cada items (ver en pag css-tricks.com)*/
    align-items: center; /*lo centra pero verticalmente (ver en pag css-tricks.com)*/
    padding-top: 2%;
    padding-bottom: 2%;
    
}

.botonesNav{
    display: flex;
    flex-grow: 2;/*hace que se estire el item (ver en pag css-tricks.com)*/
    justify-content: center; /*lo que esté en el medio lo va a centrar, lo deja si o si en el medio)*/
    list-style: none; /*elimina los puntos (bullets) de la lista */
    padding: 2%;
}

.botonesNav li{
    margin: 2%;
}

.botonesNav a{
    text-decoration: none; /*elimina el subrayado de los links*/
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

/* Contenedor de imagen 
A este contenedor siempre generalmente le ponemos un width y height */
.logos {
    width: 10%;
    height: 10%;
    padding-left: 5%;
   
}

/* Ctrl k C para hacer comentarios. 
A las imágenes ponerle siempre un widht de 100% y height auto para que se ajusten a la página. 
El TAMAÑO SE LE CAMBIA EN EN EL CONTENEDOR (ej: .logos) */
.logos img {
    width: 100%;
    height: auto;
}

.logo2 {
    padding-right: 5%;
}

.section {
    width: 100%;
    
}

.textoSection {
    color: white;
    padding: 15%;
    height: auto;
    padding-left: 5%; /*se corre a la derecha*/
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
}

.textoSection p {
    color: navy;
    font-size: 20px;
    
}

.logoSection img {
    width: 100%;
    height: auto;
}

.logoSection {
        width: 20%;
        height: 20%;
        padding-left: 5%;
        padding: 4%;
        padding-left: 8%; /*se corre a la derecha*/
       
}


.footer {
    background-color: navy;
    width: 100%; 
    padding-bottom: 1%; /* Abajo. espacio entre el contenido y el contenedor*/
    padding-top: 1%; /* Arriba. espacio entre el contenido y el contenedor*/
     
}

.textoFooter {
    color: white;
    padding: 1%;
    height: auto;
    padding-left: 5%; /*se corre a la derecha*/
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;

}  




