@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; TIPOGRAFÍA: RALEWAY */
@import url('https://fonts.googleapis.com/css?family=Oswald:400&display=swap');
/*font-family: 'Oswald', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Oswald:200&display=swap');
/* font-family: 'Oswald', sans-serif; */

*{
    padding: 0; /* espacio entre el contenido y el contenedor*/
    margin: 0; /* establece el margen para los cuatro lados*/

}

#section {
    width: 100%;
}

.active {
    display: block;
}

#homeSection {
    color: white;
    padding: 15%;
    height: auto;
    padding-left: 5%; /*se corre a la derecha*/
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    background-image: url('../img/fondoViano.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed; /*scroll de la imagen*/
}

#homeSection p {
    color: navy;
    font-size: 20px;
    
}

.logoSection img {
    width: 100%;
    height: auto;
}

.logoSection {
        width: 20%;
        height: 20%;
        padding-left: 5%;
        padding: 4%;
        padding-left: 8%; /*se corre a la derecha*/
}

/* Contenedor Nuestra Historia */
#nuestraHistoria {
    display: none;
    background-color: white;
    color: #000769;
    padding: 3%;
    height: auto;
    padding-left: 15%; /*se corre a la derecha*/
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
}

#nuestraHistoria span {
    color:#000769;
    font-size: 53px;
    font-weight: lighter;
    
}

.textoSection2 {
    color: rgb(43, 42, 42);
    width: 40%;
    font-family: 'Noto Sans';
    padding-bottom: 6%; 
    font-size: 18px !important;

}

.textoSection2 p {
    padding-bottom: 3%; /* Abajo. espacio entre el contenido y el contenedor*/
    padding-top: 3%; /* Arriba. espacio entre el contenido y el contenedor*/
}

/* Contenedor productos */
#productosSection {
    background-color: white;
    display: none;
    color: #000769;
    padding: 3%;
    height: auto;
    padding-left: 15%; /*se corre a la derecha*/
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
}

#productosSection p {
    color: #000769;
    font-family: 'Oswald', sans-serif;
    font-size: 43px;
    font-weight: lighter;
}

/* .productoViano img {
    width: 100%;
    height: auto;

}
.productoViano {
    width: 75%;
    
}
.carruselViano img {
    width: 100%;
    height: auto;
}
.carruselViano {
    width: 20%;
    display: flex; /* Pasaron uno al lado del otro. sirve para que el contenido se pueda acomodar o estirar y por defecto en row (en fila)
    padding: 7%;
    
} 

*/

/* Contenedor RUMP*/
.certSection {
    background-color: white;
    color: #000769;
    padding: 3%;
    height: auto;
    padding-left: 15%; /*se corre a la derecha*/
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
}

.certSection p {
    color: #000769;
    /* width: 40%; */
    font-family: 'Oswald', sans-serif;
    font-size: 53px;
    font-weight: lighter;
}

.certSection2 p {
    color: rgb(43, 42, 42);
    width: 45%;
    font-family: 'Noto Sans';
    padding-bottom: 6%; 
    font-size: 18px;
    padding-bottom: 3%; /* Abajo. espacio entre el contenido y el contenedor*/
    padding-top: 3%; /* Arriba. espacio entre el contenido y el contenedor*/
}

#rump, #inti {
    display: none;
}
#contactSection {
    display: none;
    background-color: white;
    color: #000769;
    padding: 3%;
    height: auto;
    padding-left: 15%; /*se corre a la derecha*/
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
}

.contactSection2 p {
    font-family: 'Noto Sans', sans-serif;
    color: rgb(43, 42, 42);
    font-size: 16px;
}


.textoAtencionAlCliente {
    font-family: 'Noto Sans', sans-serif;
    color: #000769;
    font-size: 16px;
    padding-bottom: 3%; /* Abajo. espacio entre el contenido y el contenedor*/
    padding-top: 3%; /* Arriba. espacio entre el contenido y el contenedor*/
}

form {
    /* Sólo para centrar el formulario a la página */
    /* margin: 0 auto; */
    width: 400px;
    /* Para ver el borde del formulario */
    border-radius: 1em;
    font-family: 'Noto Sans', sans-serif;
}
/* Luego, agreguemos algo de espacio entre cada uno de los widgets del formulario: */

form div + div {
    margin-top: 0.5em;
}

/* labels. en el mismo tamaño y alineados del mismo lado. En este caso */
label {
    /* Para asegurarse que todos los labels tienen el mismo tamaño y están alineados correctamente */
    display: inline-block;
    width: 90px;
    text-align: right; /*right:
    /* border: 1px solid #CCC; */
    color: #000769;
    font-size: 16px;
}

input, textarea {
    /* Para asegurarse de que todos los campos de texto tienen las mismas propiedades de fuente
       Por defecto, las areas de texto tienen una fuente con monospace */
    font: 0.5em sans-serif;
    padding: 0.2em;
    /* Para darle el mismo tamaño a todos los campos de texto */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para armonizar el look&feel del borde en los campos de texto */
    border: 1px solid #999;

}

input:focus, textarea:focus {
    /* Para dar un pequeño destaque en elementos activos*/
    border-color: #000;
}

textarea {
    /* Para alinear campos de texto multilínea con sus labels */
    vertical-align: top;

    /* Para dar suficiente espacio para escribir texto */
    height: 5em;

    /* Para permitir a los usuarios cambiar el tamaño de cualquier textarea verticalmente
        No funciona en todos los navegadores */
    resize: vertical;
}

.button {
    /* Para posicionar los botones a la misma posición que los campos de texto */
    padding-left: 343px; /* mismo tamaño a todos los elementos label */
    padding-bottom: 3%; /* Abajo. espacio entre el contenido y el contenedor*/
    padding-top: 3%; /* Arriba. espacio entre el contenido y el contenedor*/
    
}
button {
    /* Este margen extra representa aproximadamente el mismo espacio que el espacio
       entre los labels y sus campos de texto */
    margin-left: .5em;
    background-color: #000769;
    font: normal normal normal 15px/1.4em raleway,sans-serif;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0;
    
}





